body{
    background-color: rgb(209,204,204);
}
.templateContainer{
    margin: 5% 0;
}
.templateContainer > .searchInput_Container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.templateContainer > .searchInput_Container input{
    width: 50%;
    padding: 10px;
    outline: none;
}
.templateContainer .template_Container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap; 
}
.templateContainer .template_Container .template{
    background-color: white;
    margin: 30px;
    padding: 0px 20px;
}
.templateContainer .template_Container .template img{
    height: 250px;
}
.container2 {
    position: fixed; /* Position the container relative to the viewport */
    left: 0;
    right: 0;
    bottom: 0; /* Stick it to the bottom of the screen */
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    background-color: rgb(92, 213, 213);
  }